.jogo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #f2f2f2;
    width: 80%;
    justify-items: center;
    align-items: center;
    
}
.jogo .card{
    border: solid 3px black;
    border-radius: 10px;
    margin: .2rem;
    height: 18rem;
    width: 13rem;
    
    position: relative;
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .9s;
    
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.4);
    
}
.jogo .card:active{
    transform: scale(0.97);
    transition: transform .2s;

}
.jogo .card .card-back, .card-front{
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;

}
.jogo .card .card-back{
    background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url(/img/image3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    
}
.jogo .card .card-back h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 8rem;
    color: white;
    filter: drop-shadow(2px 2px 0px black);
    text-align: center;
    
}
.jogo .card .card-front{
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.5)), url(/img/image3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #3A6073;
    border-radius: 6px;

}
.jogo .card .card-front h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: .9rem;
    color: white;
    filter: drop-shadow(2px 2px 3px black);
    margin-bottom: 1.5rem;
    text-align: center;
    

}
.jogo .card .card-front {
    transform: rotateY(180deg);

}
.jogo .card.flip{
    transform: rotateY(180deg);

}